/* styles/loginForm.module.css */

/* Container principal com imagem de fundo e transparência */
.loginContainer {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(250, 250, 250, 0.7), rgba(225, 223, 223, 0.67)), url('/background1.jpg') no-repeat center center/cover;
    background-color: #f0f0f0; /* Cor de fallback */
    padding: 20px;
}

/* Conteúdo do login (título e formulário) */
.loginContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgba(253, 252, 251, 0.8);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* Seção de boas-vindas */
.welcomeSection {
    flex: 1;
    padding: 8rem;
    color: #e7700c;
    font-weight: bold;
}

/* Container do formulário de login */
.loginFormContainer {
    flex: 1;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

/* Formulário de login */
.loginForm {
    width: 100%;
    max-width: 400px;
    margin: auto;
}

.loginTitle, .accessSubtitle {
    color: #e69249; /* Deixa o título em branco para destacar */
}

/* Grupo de entradas */
.input {
    width: 100%;
    padding: 0.75rem;
    border-radius: 30px;
    background-color: #e0e0e0;
}

/* Botão de Login */
.submitButton {
    width: 100%;
    padding: 0.75rem;
    font-size: 1.2rem;
    color: white;
    background: linear-gradient(to bottom, #f4a460, #d87f2f);
    border-radius: 30px;
    cursor: pointer;
    margin-top: 1.5rem;
}
